<!doctype html>
<html lang="en" ng-app="vantageApp">
<head>
  <meta charset="utf-8">
  <title>VantageApp</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="ProductsCtrl">

  <div>
    <input ng-model="search">
    Sort: 
    <select ng-model="orderProp">
      <option value="id">ID</option>
      <option value="name">Name</option>
    </select>
  </div>

  <div>
    <ol class="products">
      <li ng-repeat="product in products | filter:search | orderBy:orderProp">
        <p>{{product.name}}</p>
        <a href="#/products/{{product.id}}"><img ng-src="{{product.image_thumb_url}}"></a>
        <a href="#/products/{{product.id}}">{{product.name}}</a>
        {{product.id}}
      </li>
    </ol>
  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
